@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");

.single-post-container {
  margin: 5% 6%;
}

.post-title {
  margin: auto;
  text-align: center;
  padding: 2%;
  padding-left: 30px;
  font-family: "Titillium Web", sans-serif;
  font-size: 24px;
}

.post-info {
  text-align: justify;
  flex-wrap: wrap;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.post-author {
  margin-bottom: 10px;
}
